body {
background:url(BackgroundStripes.png) repeat #21242d;
text-align:center;
margin:0;
padding:0
}

body,td,input,textarea {
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif
}

a:link,a:active,a:visited {
color:#0f793e;
text-decoration:none
}

a:hover {
text-decoration:underline
}

p {
margin-top:0
}

.qa-q-item-who-data a,.vcard.author a {
color:#293d39;
font-weight:700;
font-size:11px
}

.qa-notice {
background:#fdd;
border-bottom:2px solid #293d39;
color:#b00;
font-size:18px;
font-weight:700;
position:relative;
padding:.5em 32px
}

.qa-notice-close-button,.qa-notice-close-hover {
font-family:"Arial Black";
color:#c00;
font-size:20px;
background:none;
cursor:pointer;
position:absolute;
height:24px;
border:none;
top:4px;
right:6px
}

.qa-body-wrapper {
background:#fff;
border:1px solid #293d39;
width:980px;
text-align:left;
-moz-box-shadow:0 1px 1.4em #000;
-webkit-box-shadow:0 1px 1.4em #000;
box-shadow:0 1px 1.4em #000;
margin:-1px auto 0
}

.qa-nav-main-clear,.qa-nav-sub-clear,.qa-q-item-clear,.qa-q-view-clear,.qa-a-item-clear,.qa-c-item-clear,.qa-footer-clear,.qa-vote-count-clear,.qa-page-links-clear {
clear:both
}

h1 {
font-size:22px;
margin:22px 0
}

h2 {
font-size:16px;
padding-top:12px;
clear:both
}

.qa-favoriting {
float:right;
padding-right:48px;
padding-top:4px
}

.qa-favorite-button,.qa-favorite-hover,.qa-unfavorite-button,.qa-unfavorite-hover {
background:url(favorite-plus.gif) no-repeat;
border:0;
height:26px;
width:26px
}

.qa-favorite-button {
background-position:0 -26px
}

.qa-unfavorite-button {
background-position:0 -52px
}

.qa-error {
background:#fee;
border:1px solid #c00;
color:#c00;
font-size:16px;
margin-bottom:1em;
font-weight:700;
padding:.5em
}

.qa-error a {
color:#900;
text-decoration:underline
}

.qa-error a:hover {
color:red
}

.qa-header {
position:relative;
height:140px;
border-bottom:2px solid #293d39;
background:url(header.jpg) no-repeat;
background-position:0 -40px;
padding:0
}

.qa-sidepanel {
float:right;
width:176px;
margin-right:18px
}

* html .qa-sidepanel {
margin-right:10px
}

.qa-sidebar {
font-size:14px;
background:#f5e4c3;
border:1px solid #f3c772;
margin:24px 0;
padding:12px
}

.qa-feed {
background:url(feed-icon-14x14.png) no-repeat left top;
padding-left:20px;
height:16px;
margin:24px 0
}

.qa-feed-link {
font-size:10px;
color:#666
}

.qa-main {
padding-left:20px;
float:left;
margin-bottom:2em;
width:750px;
clear:left;
overflow:hidden
}

.qa-footer {
clear:both;
background:#293D39;
color:#FFF;
font-size:10px;
padding:12px
}

.qa-footer a {
color:#fff;
text-decoration:none
}

* html .qa-footer {
padding-top:6px
}

.qa-widgets-full-top {
margin-bottom:-4px
}

.qa-widget-full {
clear:both;
width:942px;
margin:20px
}

.qa-widgets-main-high {
margin-bottom:24px
}

.qa-widget-main {
width:728px;
margin:20px 0
}

.qa-widget-side {
border:1px solid #d9d9d9;
background-color:#f1f1f1;
margin:16px 0;
padding:4px
}

.qa-widget-side a {
color:#5a9570
}

.qa-logo {
position:absolute;
top:60px;
left:310px;
text-align:center;
font-family:Georgia;
font-size:34px;
color:#fff
}

.qa-logo a {
text-shadow:1px 1px 2px rgba(30,35,35,1)
}

.qa-nav-user {
width:940px;
background:#293d39;
font-size:13px;
color:#293D39;
text-align:right;
white-space:nowrap;
border-bottom:1px solid #15ff27;
padding:5px 20px
}

.qa-nav-user-list {
list-style:none;
display:inline;
margin:0;
padding:0
}

.qa-nav-user-item {
display:inline;
margin-left:12px;
font-weight:700
}

.qa-search {
margin-top:15px;
margin-right:20px;
float:right;
white-space:nowrap
}

.qa-search-button {
background:linear-gradient(tobottom,#7caa0d0%,#5d8b2c100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7caa0d',endColorstr='#5d8b2c',GradientType=0);
color:#fff;
border:1px solid #4c7b1d;
border-top:1px solid #bde95c;
padding:3px 15px
}

.qa-search-field {
width:12em;
margin-right:2px;
line-height:18px;
background:#e8ffe9;
border:1px solid #4c7b1d
}

.qa-nav-main {
width:940px;
position:absolute;
bottom:0;
clear:both;
padding:0 20px
}

.qa-nav-main-list {
font-size:16px;
list-style:none;
margin:0;
padding:0
}

.qa-nav-main-item,.qa-nav-main-item-opp {
border-top:1px solid #1f2e2b;
border-left:1px solid #1f2e2b;
border-right:1px solid #1f2e2b
}

.qa-nav-main-item {
float:left;
margin-right:4px
}

.qa-nav-main-item-opp {
float:right;
margin-left:4px
}

.qa-nav-main-link {
color:#FFF;
display:block;
background:#293d39;
padding:6px 10px
}

.qa-nav-main-link:hover,.qa-nav-main-selected {
background:#396e63;
text-decoration:none
}

.qa-nav-main-hot .qa-nav-main-link {
background:#f33
}

.qa-nav-main-hot .qa-nav-main-link:hover,.qa-nav-main-hot .qa-nav-main-selected {
background:#f66
}

.qa-nav-sub {
position:absolute;
top:140px;
left:20px;
padding-top:3px
}

.qa-nav-sub-list {
font-size:12px;
list-style:none;
margin:0;
padding:0
}

.qa-nav-sub-item {
float:left;
margin-right:2px;
margin-bottom:2px
}

.qa-nav-sub-link {
background:#cfd1c4;
color:#396e63;
font-weight:700;
display:block;
padding:5px 8px
}

.qa-nav-sub-link:hover,.qa-nav-sub-selected {
background:#9cdbce;
text-decoration:none
}

.qa-nav-sub-link.qa-nav-selected {
background:#396e63
}

.qa-nav-cat {
border:1px solid #d9d9d9;
background-color:#f1f1f1;
margin:24px 0;
padding:4px
}

.qa-nav-cat-list {
list-style:none;
margin:0;
padding:0
}

.qa-nav-cat-list.qa-nav-cat-link {
padding-bottom:5px;
font-size:14px;
color:#000
}

.qa-nav-cat-list-2 {
font-size:12px;
margin-left:1em
}

.qa-nav-cat-list-3 {
font-size:10px;
margin-left:1em
}

.qa-nav-cat-list-4 {
font-size:9px;
margin-left:1em
}

.qa-nav-cat-link {
outline:none;
text-decoration:none;
color:#5a9570
}

.qa-nav-cat-selected,.qa-nav-cat-selected:hover {
text-decoration:none;
color:#000
}

.qa-page-links {
font-size:14px;
clear:both;
zoom:1;
padding:12px 0
}

.qa-page-links-list {
list-style:none;
display:inline;
margin:0;
padding:0
}

.qa-page-link,.qa-page-selected,.qa-page-prev,.qa-page-next {
border:1px solid #666;
margin:3px 1px;
padding:3px 5px
}

.qa-page-link:hover,.qa-page-prev:hover,.qa-page-next:hover {
text-decoration:none;
background-color:#777;
color:#eee
}

.qa-page-prev,.qa-page-next {
color:#333;
background:#DDD
}

.qa-page-selected {
color:#fff;
background-color:#666
}

.qa-form-tall-table {
border:1px solid #658296;
background-color:#d9e3ea;
width:500px
}

.qa-form-tall-ok {
background:#efe;
border:1px solid #090;
color:#090;
font-size:18px;
text-align:center;
padding:6px
}

.qa-form-tall-label {
color:#253845;
font-size:13px;
font-weight:700;
padding:12px 8px 2px
}

.qa-form-tall-data {
width:480px;
padding:0 8px 6px
}

.qa-form-tall-text {
width:480px;
border:1px solid #658296
}

.qa-form-tall-number {
width:48px;
border:1px solid #658296
}

.qa-form-tall-checkbox {
float:left;
margin-right:6px
}

.qa-form-tall-image {
text-align:center;
margin-top:12px
}

.qa-form-tall-image img {
border:1px solid #000
}

.qa-form-tall-suffix {
font-weight:400;
font-size:10px
}

.qa-form-tall-error {
background:#fee;
border:1px solid #c00;
color:#c00;
font-size:14px;
margin-top:6px;
display:inline-block;
padding:.5em
}

.qa-form-tall-note {
margin-top:6px
}

.qa-form-tall-note a {
color:#293D39;
text-decoration:underline
}

.qa-form-tall-note a:hover {
color:#396E63
}

.qa-form-wide-table {
border:1px solid #658296;
background-color:#d9e3ea
}

.qa-form-wide-ok {
background:#efe;
border:1px solid #090;
color:#090;
font-size:16px;
text-align:center;
padding:6px
}

.qa-form-wide-label {
color:#253845;
font-size:13px;
font-weight:700;
white-space:nowrap;
padding:6px 10px
}

.qa-form-wide-data {
padding:6px 10px
}

.qa-form-wide-text {
width:320px;
border:1px solid #658296
}

.qa-form-wide-number {
width:48px;
border:1px solid #658296;
vertical-align:middle
}

.qa-form-wide-error {
display:inline-block;
background:#fee;
border:1px solid #c00;
color:#c00;
font-size:11px;
margin-left:6px;
padding:.5em
}

.qa-form-wide-note {
font-size:10px;
margin-left:4px
}

.qa-form-light-button,.qa-form-light-hover {
background:none;
border:1px solid #fff;
cursor:pointer;
margin-right:6px;
font-size:10px;
overflow:visible;
padding:0
}

.qa-form-light-hover,.qa-form-light-button:hover {
color:#000
}

.qa-form-basic-button,.qa-form-basic-hover {
background:none repeat scroll 0 0 #293D39;
border:1px solid #293D39;
vertical-align:middle;
margin:4px 4px 4px 0;
padding:3px 4px
}

.qa-form-basic-button {
color:#FFF
}

.qa-form-basic-hover,.qa-form-basic-button:hover {
background:#396E63;
border:1px solid #293D39;
color:#FFF
}

.qa-q-list-item {
margin-bottom:24px;
padding-bottom:1px;
zoom:1
}

.qa-q-item-main {
float:left;
width:540px
}

.qa-q-item-title {
color:#235272;
font-weight:700;
font-size:16px
}

.qa-q-item-content {
font-size:10px;
margin-top:6px;
max-height:64px;
overflow-y:auto;
border:1px solid #ccc;
padding:4px
}

.qa-q-item-avatar {
display:inline-block;
vertical-align:middle;
margin-top:6px;
margin-right:2px
}

.qa-q-item-meta {
display:inline-block;
vertical-align:middle;
margin-top:6px
}

.qa-q-item-tags {
margin-top:8px
}

.qa-suggest-next {
font-size:14px;
text-align:left;
clear:both;
padding:.5em 0
}

.qa-suggest-next a {
border:1px solid #1f2e2b;
color:#fff;
background:#293d39;
margin:0 2px;
padding:3px 6px
}

.qa-suggest-next a:hover {
color:#fff;
background:#396e63;
text-decoration:none
}

.qa-voting {
background:#f1f1f1;
border:1px solid #d9d9d9;
margin-right:16px;
float:left;
height:42px;
overflow:hidden;
padding:18px 0
}

.qa-vote-buttons {
float:left;
width:18px;
padding-left:12px
}

.qa-vote-one-button {
margin:12px 0
}

.qa-vote-second-button {
margin-top:12px
}

.qa-vote-up-button {
background-position:0 0;
color:#38544e
}

.qa-vote-up-disabled {
background-position:0 -60px;
color:#38544e
}

.qa-vote-up-hover,.qa-vote-up-button:hover {
background-position:0 -15px;
color:#65968e
}

.qa-vote-down-button {
background-position:-17px 0;
color:#38544e
}

.qa-vote-down-disabled {
background-position:-17px -60px;
color:#38544e
}

.qa-vote-down-hover,.qa-vote-down-button:hover {
background-position:-17px -15px;
color:#65968e
}

.qa-voted-up-button {
background-position:0 -30px;
color:#f3cb7f
}

.qa-voted-up-hover,.qa-voted-up-button:hover {
background-position:0 -45px;
color:#f3cb7f
}

.qa-voted-down-button,.qa-voted-down-hover {
background:url(vote-buttons.gif) no-repeat;
border:0;
font-size:1px;
height:15px;
width:17px;
margin:12px 0
}

.qa-voted-down-button {
background-position:-17px -30px;
color:#f3cb7f
}

.qa-voted-down-hover,.qa-voted-down-button:hover {
background-position:-17px -45px;
color:#f3cb7f
}

.qa-vote-count {
float:left;
text-align:center
}

.qa-netvote-count {
width:60px;
display:block
}

.qa-netvote-count-data {
padding-top:1px;
font-size:20px;
font-weight:700;
display:block
}

.qa-upvote-count,.qa-downvote-count {
width:48px;
height:27px;
position:relative;
top:-4px;
display:block
}

.qa-upvote-count-data,.qa-downvote-count-data {
font-size:18px;
font-weight:700;
display:inline
}

.qa-upvote-count-pad,.qa-downvote-count-pad {
font-size:9px;
display:none
}

.qa-a-count {
background:#ffd191;
border:1px solid #e4b369;
text-align:center;
width:60px;
height:42px;
overflow:hidden;
float:left;
margin-right:16px;
padding:18px 0
}

.qa-a-count-data {
font-size:24px;
font-weight:700;
display:block
}

.qa-view-count {
float:right;
font-size:11px;
color:#8F5EA3;
margin:3px 10px 0 20px
}

.qa-top-tags-count {
border:1px solid #658296;
border-right:1px dashed #c1ced6;
color:#235272;
text-align:right;
padding:6px 8px 6px 12px
}

.qa-top-tags-label {
border:1px solid #658296;
border-left:none;
background:#e7eff4;
padding:3px 16px 0 8px
}

.qa-top-tags-label .qa-tag-link {
font-weight:400
}

.qa-top-users-label {
border:1px solid #c1c5a9;
border-right:1px dashed #c1c5a9;
text-align:left;
padding:6px 16px 6px 12px
}

.qa-top-users-score {
border:1px solid #c1c5a9;
border-left:none;
background:#e9ebde;
color:#414944;
text-align:right;
padding:6px 12px
}

.qa-browse-cat-list {
list-style:none;
margin:0 0 0 2.5em;
padding:0
}

.qa-browse-cat-list-1 {
font-size:16px
}

.qa-browse-cat-list-2 {
font-size:14px
}

.qa-browse-cat-list-4 {
font-size:10px
}

.qa-browse-cat-item {
font-weight:700;
color:#000;
margin:.5em 0
}

.qa-browse-cat-closed {
list-style:disc
}

.qa-browse-cat-open {
list-style:circle
}

.qa-browse-cat-link {
font-weight:700;
text-decoration:none;
color:#000
}

.qa-browse-cat-note {
font-weight:400;
font-size:85%;
color:#444
}

.qa-browse-cat-note a {
color:#473A9F
}

.qa-q-view-main {
float:left;
width:600px
}

.qa-q-view-content {
font-size:14px;
margin-bottom:16px
}

.qa-q-view-follows {
font-size:13px;
margin-bottom:12px;
font-style:italic
}

.qa-q-view-flags {
background:red;
color:#fff;
font-weight:700;
display:inline-block;
margin:4px 0;
padding:2px 5px
}

.qa-q-view-tags {
margin-bottom:12px
}

.qa-q-view-c-list {
clear:both;
border-top:1px dotted #666;
margin:24px 0 0 24px
}

.qa-q-view-hidden .qa-voting {
background:#fff;
border:1px solid #ccc;
color:#ccc
}

.qa-q-view-hidden .qa-tag-link {
background-color:#ccc
}

.qa-a-list-item {
margin-bottom:40px;
zoom:1;
padding-bottom:1px
}

.qa-a-list-item-hidden .qa-voting {
background:#FFF;
border:1px solid #ccc;
color:#ccc
}

.qa-a-item-main {
float:left;
width:600px;
display:inline-block
}

.qa-a-item-selected {
background-color:#d7e3e1;
border:1px dashed #486a63;
overflow:hidden;
zoom:1;
padding:10px
}

.qa-a-item-content {
font-size:14px;
margin-bottom:12px
}

.qa-a-item-buttons {
text-align:right;
margin-top:12px;
clear:both
}

.qa-a-item-c-list {
clear:both;
border-top:1px dotted #666;
margin:12px 0 0 12px
}

.qa-a-selection {
float:right;
width:48px;
text-align:center;
padding:6px 0
}

.qa-a-select-button,.qa-a-select-hover {
background:url(select-star.png) no-repeat;
border:0;
height:28px;
width:30px
}

.qa-a-select-hover,.qa-a-select-button:hover {
background-position:0 -56px
}

.qa-a-unselect-button,.qa-a-unselect-hover {
background:url(selected-star.png) no-repeat;
border:0;
height:28px;
width:30px
}

.qa-a-selected {
background:url(selected-star.png) no-repeat 0 0;
height:28px;
width:30px;
margin:0 auto
}

.qa-a-selected-text {
font-size:10px;
font-weight:700;
display:block;
margin-top:6px
}

.qa-c-list-item {
border-bottom:1px dotted #666;
padding:6px 0 6px 6px
}

.qa-c-item-hidden .qa-c-item-content {
color:#bbb
}

.qa-c-item-hidden .qa-c-item-link {
color:#aaf
}

.qa-c-item-link {
display:block;
margin-bottom:6px
}

.qa-c-item-expand {
display:block;
color:#666;
font-style:italic;
margin:4px 0
}

.qa-c-item-content {
display:block;
color:#333;
font-size:12px;
margin-bottom:6px
}

.qa-c-item-footer {
position:relative
}

.qa-c-item-avatar {
display:inline-block;
vertical-align:middle;
margin-right:4px
}

.qa-c-item-meta {
display:inline-block;
vertical-align:middle;
font-size:10px;
color:#666
}

.qa-c-item-who-points {
display:none
}

.qa-c-item-buttons {
display:block;
position:absolute;
bottom:0;
right:0
}

.qa-related-q-list {
list-style-type:none;
padding:0
}

.qa-activity-count {
font-size:150%
}

.qa-activity-count-item {
margin:.25em 0
}

.qa-nav-footer-list {
float:left;
list-style-type:none;
margin:0;
padding:0
}

.qa-nav-footer-item {
float:left;
margin-right:12px
}

.qa-nav-footer-link {
color:#FFF;
text-decoration:underline!important
}

.qa-attribution {
float:right
}

.qa-attribution a {
color:#FFF;
text-decoration:underline
}

.qa-nav-user a {
color:#77a715;
font-weight:700
}

.qa-category-link {
color:#5a9570;
font-weight:700
}

.qa-tag-link {
font-size:11px;
color:#FFF!important;
margin-bottom:3px;
background-color:#336b5e;
display:inline-block;
vertical-align:middle;
text-shadow:1px 1px 2px rgba(15,15,15,0.3);
text-decoration:none!important;
padding:3px 5px
}

.qa-tag-link:hover {
text-decoration:none;
background-color:#e4b369
}

.qa-avatar-image {
border:0;
vertical-align:middle
}

.qa-favorite-image {
background:url(favorite-plus.gif) no-repeat;
background-position:0 -26px;
border:0;
height:26px;
width:26px;
vertical-align:middle;
display:inline-block;
margin:2px
}

.qa-favorite-hover,.qa-favorite-button:hover,.qa-unfavorite-hover,.qa-unfavorite-button:hover,.qa-a-unselect-button {
background-position:0 0
}

.qa-header a,.qa-logo-link,.qa-logo-link:hover,.qa-nav-user .qa-logged-in-pad,.qa-nav-user .qa-nav-user-link {
color:#fff
}

.qa-main-hidden h1,.qa-q-view-hidden .qa-q-view-content,.qa-q-view-hidden .qa-user-link,.qa-q-view-hidden .qa-q-view-who-title,.qa-q-view-hidden .qa-category-link,.qa-a-list-item-hidden .qa-a-item-content,.qa-a-list-item-hidden .qa-a-item-who-title,.qa-a-list-item-hidden .qa-user-link,.qa-c-item-hidden .qa-c-item-who-title,.qa-c-item-hidden .qa-user-link {
color:#999
}

.qa-widget-full-high,.qa-widget-main-bottom {
margin-bottom:0
}

.qa-widgets-main-top,.qa-widgets-side-top {
margin-top:24px
}

.qa-logo a:hover,.qa-avatar-link,.qa-avatar-link:hover {
text-decoration:none
}

.qa-nav-user-link,.qa-nav-sub a,.qa-q-item-title a {
color:#293d39
}

.qa-logged-in,.qa-page-links-item,.qa-q-item-tag-item,.qa-q-view-tag-item {
display:inline
}

.qa-nav-cat-list-1,.qa-browse-cat-list-3 {
font-size:12px
}

.qa-nav-cat-item,.qa-related-q-item {
margin:.5em 0
}

.qa-page-links-label,.qa-page-link {
color:#333
}

.qa-page-ellipsis,.qa-form-light-button {
color:#666
}

.qa-form-tall-spacer,.qa-form-wide-spacer {
background:#E3F4FF;
line-height:1px;
font-size:1px;
padding:0
}

.qa-form-tall-text,.qa-form-tall-number,.qa-form-wide-text,.qa-form-wide-number {
padding:3px
}

.qa-form-tall-buttons,.qa-form-wide-buttons {
text-align:center;
padding:8px
}

.qa-form-basic-note,.qa-netvote-count-pad,.qa-a-count-pad {
font-size:11px
}

.qa-q-item-when-data,.qa-q-item-points-data,.qa-view-count-data,.qa-q-view-closed-content,.qa-q-view-extra-content,.qa-q-view-when-data,.qa-q-view-points-data,.qa-a-item-when-data,.qa-a-item-points-data,.qa-activity-count-data {
font-weight:700
}

.qa-q-item-who-title,.qa-q-view-who-title,.qa-a-item-who-title,.qa-c-item-who-title {
font-size:80%;
font-weight:700;
color:#900707
}

.qa-q-item-flags,.qa-a-item-flags,.qa-c-item-flags {
background:red;
color:#fff;
font-weight:700;
display:inline-block;
padding:2px 5px
}

.qa-q-item-tag-list,.qa-q-view-tag-list {
list-style:none;
margin:0;
padding:0
}

.qa-q-item-buttons,.qa-q-view-buttons {
text-align:right;
clear:both
}

.qa-vote-up-button,.qa-vote-up-hover,.qa-vote-up-disabled,.qa-vote-down-button,.qa-vote-down-hover,.qa-vote-down-disabled,.qa-voted-up-button,.qa-voted-up-hover {
background:url(vote-buttons.gif) no-repeat;
border:0;
font-size:1px;
height:15px;
width:17px
}

.qa-top-tags-table,.qa-top-users-table {
float:left;
border-collapse:collapse;
margin-bottom:1em
}

.qa-top-tags-spacer,.qa-top-users-spacer {
padding:0 4px
}

.qa-q-view-avatar,.qa-a-item-avatar {
display:inline-block;
vertical-align:middle;
margin-right:8px
}

.qa-q-view-meta,.qa-a-item-meta {
display:inline-block;
vertical-align:middle;
font-size:13px
}

.qa-q-view-closed,.qa-q-view-extra {
font-size:13px;
margin-bottom:18px;
font-style:italic
}

.qa-q-view-hidden .qa-q-view-meta,.qa-a-list-item-hidden .qa-a-item-what,.qa-a-list-item-hidden .qa-a-item-meta,.qa-c-item-hidden .qa-c-item-what,.qa-c-item-hidden .qa-c-item-meta {
color:#ccc
}

.qa-a-select-button,.qa-a-unselect-hover,.qa-a-unselect-button:hover {
background-position:0 -28px
}

.qa-nav-footer-link:hover,.qa-attribution a:hover {
color:#f5d495
}

@media screen and min-width600px and max-width988px {
.qa-body-wrapper {
width:98%
}

.qa-logo {
top:35px;
left:20px;
font-size:30px
}

.qa-header {
width:100%
}

.qa-sidepanel {
width:25%
}

.qa-nav-main,.qa-nav-user {
width:95%
}

.qa-q-view-main,.qa-main,.qa-q-item-main {
width:65%
}
}

@media screen and min-width410px and max-width600px {
.qa-header {
border-bottom:2px solid #293d39;
height:auto;
background:#77a715;
padding:5px 3px 0 5px
}

.qa-logo {
position:relative;
float:none;
margin-bottom:12px;
font-size:28px;
width:100%;
top:30px;
left:0;
text-align:center
}

.qa-nav-main {
position:relative;
width:100%;
padding:0
}

.qa-search {
margin-top:45px;
position:relative;
float:none;
clear:none;
text-align:center
}

.qa-nav-user {
position:absolute;
top:0;
left:0;
width:100%;
text-align:center;
float:none;
font-size:14px;
white-space:normal;
padding:0
}

.qa-nav-sub {
top:auto
}

.qa-nav-main-item-opp {
float:none;
margin-left:0;
margin-right:4px
}

.qa-nav-user li a {
line-height:30px;
white-space:nowrap
}

.qa-nav-main-item {
float:none
}

.qa-sidepanel {
width:100%;
float:none;
display:none
}

.qa-main {
float:none;
width:100%;
padding-left:3px
}

.qa-voting {
margin-left:5px;
padding:0
}

.qa-vote-buttons {
width:auto
}

.qa-a-count {
padding:0
}

.qa-q-item-main {
margin-top:5px;
margin-left:5px;
width:96%
}

.qa-a-item-main {
float:none;
width:96%
}

.qa-q-view-main {
float:none;
width:96%;
clear:both;
margin-left:5px
}

.qa-q-view img {
max-width:97.5%;
height:auto
}

.qa-form-light-button {
margin-top:10px
}

.qa-c-item-buttons {
position:relative;
text-align:right
}

.qa-suggest-next a {
line-height:35px
}

.qa-form-tall-image {
text-align:left
}

.qa-form-wide-table {
margin-right:5px
}

.qa-form-wide-label {
white-space:normal
}

.qa-body-wrapper,.qa-form-wide-text {
width:98%
}

.qa-a-item-content,.qa-a-item-avatar,.qa-a-item-meta,.qa-a-item-buttons {
margin-left:5px
}

.qa-form-tall-data,input[type=file],.qa-form-tall-table,.qa-form-tall-text,select {
width:100%
}
}

@media screen and min-width180px and max-width410px {
.qa-header {
border-bottom:2px solid #293d39;
height:auto;
background:#77a715;
padding:5px 3px 0 5px
}

.qa-logo {
position:relative;
float:none;
margin-bottom:12px;
font-size:28px;
width:100%;
top:70px;
left:0;
text-align:center
}

.qa-nav-main {
position:relative;
width:100%;
padding:0
}

.qa-search {
margin-top:80px;
position:relative;
float:none;
clear:none;
text-align:center
}

.qa-nav-user {
position:absolute;
top:0;
left:0;
width:100%;
text-align:center;
float:none;
font-size:14px;
white-space:normal;
padding:0
}

.qa-nav-sub {
top:auto
}

.qa-nav-main-item-opp {
float:none;
margin-left:0;
margin-right:4px
}

.qa-nav-user li a {
line-height:30px;
white-space:nowrap
}

.qa-nav-main-item {
float:none
}

.qa-sidepanel {
width:100%;
float:none;
display:none
}

.qa-main {
float:none;
width:100%;
padding-left:3px
}

.qa-voting {
margin-left:5px;
padding:0
}

.qa-vote-buttons {
width:auto
}

.qa-a-count {
padding:0
}

.qa-q-item-main {
margin-top:5px;
margin-left:5px;
width:96%
}

.qa-a-item-main {
float:none;
width:96%
}

.qa-q-view-main {
float:none;
width:96%;
clear:both;
margin-left:5px
}

.qa-q-view img {
max-width:97.5%;
height:auto
}

.qa-form-light-button {
margin-top:10px
}

.qa-c-item-buttons {
position:relative;
text-align:right
}

.qa-suggest-next a {
line-height:35px
}

.qa-form-tall-image {
text-align:left
}

.qa-form-wide-table {
margin-right:5px
}

.qa-form-wide-label {
white-space:normal
}

.qa-body-wrapper,.qa-form-wide-text {
width:98%
}

.qa-a-item-content,.qa-a-item-avatar,.qa-a-item-meta,.qa-a-item-buttons {
margin-left:5px
}

.qa-form-tall-data,input[type=file],.qa-form-tall-table,.qa-form-tall-text,select {
width:100%
}
}